@{
    ViewBag.Title = "Home Page";
}



<div class="row">
    <div class="col-md-8">
        <h1>Introduction</h1>
        <h4>
            This application simulates the movie and customer minitor.
            You can check and edit customer information, add new customer,
            check and edit movie information and add new movie to our database.
        </h4>
       
    </div>


</div>


